# Do not commit Argmax Local Server binaries
**/*argmax-local-server*

# Unnecessary files
.DS_Store

## Datasets
Signals

# Environments
.env
**/__pycache__

# Vscode specific
.vscode

# Hydra specific
outputs
multirun

# Wandb
wandb/
media/

# HF data cache
core-model-cache
argmax-coreml-logs

# Raw datasets
raw_datasets/

# Experimentation notebooks
experimentation_notebooks/

# Dataset statistics
dataset_statistics/

# Wandb sink
wandb_data/

# Inference outputs
inference_outputs/

# Miscellaneous
miscellaneous/
